@import "../../media.scss";
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f1f1f1;
  height: var(--footerHeight);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
}

@include media-ipad {
  .copyright {
    font-size: 0.7rem;
  }
}

@include media-mobile {
  .copyright {
    font-size: 0.6rem;
  }
}
